<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element">

                </div>

            </li>


            <li>
                <a href="/Admin/Index/"><i class="fa fa-home"></i> <span class="nav-label">Dashboard</span>  </a>
            </li>


            <li>
                <a href="/Blog/Index/"><i class="fa fa-list-alt"></i> <span class="nav-label">Bloglar</span>  </a>
            </li>


            <li>
                <a href="/About/Index/"><i class="fa fa-address-book"></i> <span class="nav-label">Hakkımızda</span>  </a>


            </li>

            <li>
                <a href="/Contact/Index/"><i class="fa fa-phone"></i> <span class="nav-label">İletişim</span>  </a>
            </li>


        </ul>

    </div>
</nav>
