<div class="tech-btm">
   
    <p> Eklenen farklı kategorilerdeki yeni blog yazılarımıza tek tıkla ulaşın. </p>
    <form action="/NewsLetter/SubscribeMail/" method="post">
        <input type="email" placeholder="Mailinizi giriniz" required="" name="Mail">
        <input type="submit"style="background-color:plum" value="Abone Ol">
    </form>

</div>
